*{
    font-family: garamond,'Times New Roman', Times, serif;
}
.heading{
    background-color: #1d2226f0;
    border-bottom: 3px  solid  #1d2226f0;
}
.text{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
#profile-img{
    width: 450px;
    border: 5px solid rgb(197, 197, 64);
    border-radius: 50%;
    animation: imgg 2s ease-in-out infinite ;
    animation-delay: 2s;  
}

 @keyframes imgg {
        
        0%{
            transform:transLateY(0);

        }
        50%{
            transform:transLateY(-22px);
        }
        100%{
            transform:transLateY(0);
        }
        
    }
.about-me{
        background-color: #1d2226f0;
        color: white;
    }
h1,span{
        color: rgb(197, 197, 64);
    }
@media (min-width:100) and (max-width:642){
     #profile-img{
        height: 250px;
        width: 350px;
     }   
}
.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
  }
  img, svg {
    vertical-align: middle;
    width: 2em;
    height: 1.5em;
}
#hanging-icons{
    margin-bottom: 200px;
}
.projects{
    position: relative;
    bottom:250px;;
}
.logo-footer{
    width: 50px;
    height: 50px;
}
#Main-name{
    font-family: garamond,'Times New Roman', Times, serif;
    font-size: 50px;
    color: white;
    text-align: center;
}
@media (min-width:100px) and  (max-width:642){
    #Main-name{
       font-size:18px ;
       font-family: garamond,'Times New Roman', Times, serif;
    }
}

#side-name{
    font-family: garamond,'Times New Roman', Times, serif;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    color: white;

}
@media (min-width:100px) and (max-width:642px){
    #side-name{
       font-size:30px ;
       font-family: garamond,'Times New Roman', Times, serif;
    }
}
.main-footer{
   padding: 3em;
}

